.bg-img {
    background-image: url('../../assets/wooh.png');
}

.complete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 8% 20% 5%;
}

.complete-container p {
    color: #808080;
    text-align: center;
    line-height: 1.4;
    font-weight: 500;
}

.btn-primary {
    padding-top: .4rem;
    padding-bottom: .4rem;
    width: 80%;
    margin-top: 3rem;
}

.designs {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.group-1 {
    position: absolute;
    top: 30%;
    left: -150%;
}

.group-2 {
    position: absolute;
    top: 15%;
    left: -130%;
}

.group-3 {
    position: absolute;
    top: 0%;
    left: -50%;
}

.group-4 {
    position: absolute;
    top: 0%;
    left: 50%;
}

.group-5 {
    position: absolute;
    top: 45%;
    left: 70%;
}

.group-6 {
    position: absolute;
    top: 60%;
    left: 20%;
}